In [8]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import math
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly as py
import plotly.graph_objs as go
import warnings
import os
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

warnings.filterwarnings("ignore")
py.offline.init_notebook_mode(connected = True)

plt.rcParams['font.family'].insert(0, 'Malgun Gothic')
sns.set(font="Malgun Gothic", rc = {"axes.unicode_minus":False}, style='whitegrid')
plt.rcParams["figure.figsize"] = (15, 6)

#print(os.listdir("../input"))

In [9]:
df = pd.read_csv('../../Data/df_제휴사_고객별.csv')
df.head()

,고객번호,성별,연령대,거주지,LPoint,휴일,제휴사_B,제휴사_C,제휴사_D,제휴사_E,...,여름,가을,겨울,오전,오후,저녁,새벽,이용금액_총합,이용금액_평균,이용건수
0,M000034966,여성,40,Z07,0.0,1.000000,0.0,0.0,1.0,0.0,...,0.0,1.000000,0.000000,1.0,0.000000,0.000000,0.0,3900,3900.00,1
1,M000059535,여성,30,Z12,0.0,0.000000,0.0,1.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,1.000000,0.000000,0.0,46000,46000.00,1
2,M000136117,여성,30,Z11,0.0,0.333333,0.0,0.0,1.0,0.0,...,0.2,0.466667,0.133333,0.2,0.333333,0.466667,0.0,237400,15826.67,15
3,M000225114,여성,40,Z17,0.0,0.800000,0.0,0.8,0.2,0.0,...,0.2,0.500000,0.300000,0.2,0.400000,0.400000,0.0,316200,31620.00,10
4,M000261625,여성,40,Z17,0.0,1.000000,0.0,0.0,1.0,0.0,...,0.0,0.000000,0.000000,0.0,1.000000,0.000000,0.0,23250,23250.00,1

## 1. Hierarchical Clustering
중복을 허용하여 clustering 하는 방법 (=군집 내에 군집이 속할 수 있음) 일정 높이에서 dendrogram을 잘라서 군집의 수 결정한다. 

1) 거리를 측정하는 방법
- L1 norm (manhattan distance)
- L2 norm (euclidean distance)
- mahalanobis (feature간의 공분산 행렬을 고려한 거리)
- corr distance (상관계수 높을수록 거리 짧게)

2) cluster 간의 거리를 측정하는 방법
- single linkage (군집 간 element끼리의 거리 중 min을 군집 간 거리로 설정)
- complete linkage (군집 간 element끼리의 거리 중 max를 군집 간 거리로 설정)
- average linkage (군집 간 element끼리의 모든 거리를 average)
- centroid (군집의 centroid끼리의 거리)
- ward (두 군집 간 제곱합 - (군집 내 제곱합의 합))

In [10]:
from scipy.cluster.hierarchy import linkage, dendrogram
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.cluster.hierarchy.linkage.html

In [11]:
df2 = pd.get_dummies(df, columns=['성별']).drop(['고객번호', '거주지', '이용금액_평균', '이용건수'], axis=1)
df2['이용금액_총합'] = df2['이용금액_총합'].apply(lambda x: math.log(x))

In [12]:
# kmeans, dbscan 등은 거리기반 알고리즘이기 때문에 단위의 영향력을 제거하기 위해 표준화 진행
# 여기서는 (x-mean)/std로 변환하여 평균0, 표준편차1로 scaling을 맞춰주는 standardScaler를 사용하였다.
from sklearn.preprocessing import StandardScaler

standard_scaler = StandardScaler()
scaled_df2 = pd.DataFrame(standard_scaler.fit_transform(df2), columns=df2.columns) # scaled된 데이터

In [14]:
# 왼쪽은 scaling 적용 X 데이터, 오른쪽은 scaling 적용 O 데이터
# 순서대로 single linkage, complete linkage, average linkage, centroid linkage, ward linkage 적용해보았다.
# 거리를 기준으로 proximity matrix를 만들고 이에 따라 cluster를 키워 나가는데,
# 군집 간 거리를 측정하는 방식이 달라지니 군집화가 이루어진 결과도 확연히 차이가 났다.

linkage_list = ['single', 'complete', 'average', 'centroid', 'ward']
data = [df2, scaled_df2]

for i in range(len(linkage_list)):
    for j in range(len(data)):
        hierarchical_single = linkage(data[j], method=linkage_list[i])
        dn = dendrogram(hierarchical_single, ax=axes[i][j])
        axes[i][j].title.set_text(linkage_list[i])

NameError: name 'axes' is not defined

In [7]:
hierarchical_single = linkage(data[j], method='single')
dn = dendrogram(hierarchical_single)

NameError: name 'j' is not defined